/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Prevent font size inflation */
html {
  text-size-adjust: none;
  scroll-behavior: smooth;
}

/* Remove default margin in favour of better control in authored CSS */
body, h1, h2, h3, h4, p, figure {
  margin: 0;
}

/* Set core body defaults */
body {
  line-height: 1.5;
}

/* Set shorter line heights on headings and interactive elements */
h1, h2, h3, h4 {
  line-height: 1.1;
  text-wrap: balance;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
  color: currentColor;
}

/* Make images easier to work with */
img {
  max-width: 100%;
  display: block;
  width: 100%;
}

/* Anything that has been anchored to should have extra scroll margin */
:target {
  scroll-margin-block: 5ex;
}

.scrollable_wrapper {
    scrollbar-width: thin; /* for Firefox */
}

::-webkit-scrollbar {
    background-color: white;
    width: 8px;
}

::-webkit-scrollbar-track {
    background-color: white;
}

::-webkit-scrollbar-track:hover {
    background-color: grey;
}

::-webkit-scrollbar-thumb {
    background-color: rgba(0, 0, 0, 0.13);
    border-radius: 16px;
    border: 3px solid white;
}

::-webkit-scrollbar-thumb:hover {
    background-color: rgba(0, 0, 0, 0.23);
    border: 2px solid grey;
}

@font-face {
    font-family: 'TazBold';
    src: local('TazWt07-Bold'),
        url('https://www.24sata.hr/static/fonts/TazWt07-Bold.woff2') format('woff2'),
        url('https://www.24sata.hr/static/fonts/TazWt07-Bold.woff') format('woff');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

:root {
    --lightGray: #FAFAFA;
    --red: #FF0000;
    --red1: rgb(255, 0, 0, 1);
    --green: #C5D84A;
    --darkGreen: #2A9D8F;
    --black: #000000;
    --opacity: .5;
    --font24sata: normal 400 100% 'TazBold', sans-serif;
    --fontVL: normal 400 100% 'Roboto', sans-serif;
    --fontDefault: normal 400 100% 'Roboto Condensed', sans-serif;
    --fontTitle24sata: normal 400 100% 'TazBold', sans-serif;
    --fontTitleVL: normal 400 100% 'Roboto Serif', serif;
    --fontTitleDefault: normal 400 100% 'Roboto Condensed', sans-serif;
    --titleFontWeightDefault24sata: 900;
    --titleFontWeightDefaultVL: 500;
    --titleFontWeightDefault: 900;
}

@keyframes rotation {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

@keyframes pulse {
    0% {
        transform: scale(0.95);
        box-shadow: 0 0 0 0 rgba(224, 31, 61, 0.7);
    }

    30% {
        transform: scale(1);
        box-shadow: 0 0 0 10px rgba(224, 31, 61, 0);
    }

    100% {
        transform: scale(0.95);
        box-shadow: 0 0 0 0 rgba(224, 31, 61, 0)
    }
}

.loader_wrapper {
    background-color: var(--lightGray);
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    display: block;
}

.loader {
    width: 48px;
    height: 48px;
    border-radius: 50%;
    display: inline-block;
    border-top: 4px solid var(--lightGray);
    border-right: 4px solid transparent;
    animation: rotation 1s linear infinite;
    position: absolute;
    top: 40%;
    right: 47.5%;
}

.loader::after {
    content: '';
    position: absolute;
    width: 48px;
    height: 48px;
    border-radius: 50%;
    border-left: 4px solid var(--red);
    border-bottom: 4px solid transparent;
    animation: rotation 0.5s linear infinite reverse;
}

.cro_elections {
    padding: 16px;
    background-color: var(--lightGray);
    font: var(--fontDefault);
    font-optical-sizing: auto;
    letter-spacing: 0.5px;
    color: var(--black);
    overflow: hidden;
}

.data_wrapp {
    width: 100%;
    margin-top: 28px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.live_blob,
.pixell {
    font-size: 14px;
    line-height: 20px;
}

.blob {
    background: var(--red);
    border-radius: 50%;
    margin: 6px 10px;
    height: 9px;
    width: 9px;
    box-shadow: 0 0 0 0 var(--red1);
    transform: scale(1);
    animation: pulse 5s infinite;
}

.live {
    display: flex;
    align-items: center;
    color: var(--red);
    font-weight: 600;
}

h1 {
    font: var(--fontTitleDefault);
    font-size: 28px;
    font-weight: var(--titleFontWeightDefault);
    margin-bottom: 30px;
}

.year,
.text {
    display: block;
    text-align: center;
}

#last_change,
#processed_votes,
.pixell {
    opacity: var(--opacity);
}

#election_results {
    display: flex;
    gap: 16px;
    width: fit-content;
}

.person_data {
    display: flex;
}

.details {
    overflow-x: auto;
    overflow-y: hidden;
    width: 100%;
}

.results img {
    background: url("profile_placeholder.webp"), var(--green);
    background-size: cover;
    min-width: 120px;
    object-fit: cover;
}

.arrow_left:after {
    content: ' \276E';
    margin-right: 10px;
}

.arrow_right:after {
    content: ' \276F';
    margin-left: 10px;
}

.arrow_left:after,
.arrow_right:after {
    font-size: 23px;
}

.arrow_left,
.arrow_right {
    align-content: space-around;
}

.elections_results_wrapper {
    display: flex;
}

.graph {
    width: 10px;
    height: 100%;
    background-color: var(--green);
    margin-right: 10px;
    align-content: end;
}

.graph span {
    display: block;
    height: 30%;
    width: 100%;
    background-color: var(--darkGreen);
}

.name {
    font-size: 15px;
    margin-top: 20px;
}

.votes {
    font-size: 13px;
    opacity: var(--opacity);
    white-space: nowrap;
    margin-top: 5px;
}

.percent {
    font-size: 30px;
    line-height: 22px;
    font-weight: 600;
    margin-top: 20px;
}
.name,
.votes,
.percent {
    text-align: center;
}

.not_active {
    opacity: .2;
}

.remove {
    display: none;
}

.hidden {
    visibility: hidden;
}

@media screen and (min-width: 900px) {
    .data_wrapp {
        position: absolute;
        top: 16px;
        width: calc(100% - 32px);
        margin: 0;
    }

    h1 {
        text-align: center;
        line-height: 63px;
        font-size: 30px;
    }

    .year,
    .text {
        display: inline;
    }

    .results img {
        min-width: 100px;
    }
}
